@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--black);
}

a {
    text-decoration: none;

}

:root {
    --black: #333;
    --white: #FFF;
    --light: #F5F5F5;
    --grey: #AAA;
    --dark: #1B1C30;
    --dark-l-1: #262848;
    --dark-l-2: #545679;
    --green: #47BE7D;
    --red: #D9214E;
    --blue: #009EF7;
}

i[class^="ph"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: var(--light);
}
 
button{
	cursor: pointer;
}



/* start: BREAKPOINTS */
@media screen and (max-width: 576px) {
	#sidebar-mobile {
		display: flex;
	}








	#sidebar {
		left: -5rem;
	}

	#sidebar.active {
		left: 0;
	}

	#sidebar.active+.sidebar-overlay {
		display: block;
	}







	#main {
		position: relative;
		left: 0;
		width: 100%;
	}

	#main .main__top .main__top__menu .main__dropdown {
		position: fixed;
		top: 7.5rem;
		right: 1.25rem;
		left: 1.25rem;
		width: unset;
	}

	#main .main__body__data>div {
		flex: 1 0 0;
	}
}

/* end: BREAKPOINTS */