#main .main__body {
	padding: 1.25rem;
	box-shadow: inset 0 8rem 0 var(--dark-l-1);
}

#main .main__body .main__body__box-info {
	display: flex;
	grid-gap: 1.25rem;
	flex-wrap: wrap;
}

#main .main__body .main__body__box-info li {
	flex: 1 0 260px;
	background: var(--white);
	padding: 1.25rem 1.5rem;
	border-radius: 5px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

#main .main__body .main__body__box-info li i {
	justify-content: flex-start;
	font-size: 3rem;
	margin-bottom: 1rem;
}

#main .main__body .main__body__box-info li:nth-child(1) i {
	color: var(--blue);
}

#main .main__body .main__body__box-info li:nth-child(2) i {
	color: var(--green);
}

#main .main__body .main__body__box-info li:nth-child(3) i {
	color: var(--red);
}

#main .main__body .main__body__box-info li h5 {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: .5rem;
}

#main .main__body .main__body__box-info li p {
	font-size: .875rem;
	font-weight: 500;
	color: var(--grey);
}